// ---------------------- PADDING - MARGINNN --------
$rien: 0px;
$s: 2%;
$xl: 5%;
$demixl:10%;
$xxl: 15%;
$xxxl: 20%;
$padding5: 5px;
$padding10: 10px;
$padding20: 20px;
$padding30: 30px;
$paddingtitle: 5px 0px;
$paddingP: 50px 70px;
$paddingCta: 10px 30px;
$paddingFooterLogo: 200px 100px 100px 200px; 
$paddingFooterLogoIpad:80px 10px 10px 130px;
$paddingFooterLogoIphone: 80px 0px 10px 0px;
$paddingFooterInfo: 200px 20px 0px 20px;
$paddingFooterImgIphone: 2px 1px;
$paddingFooterArticleIphone: 50px 0px 10px 0px;
$paddingWWO: 30px 30px 0px 30px;
$marginCta: 95px;
$margin10: 10px;
$margin20: 20px;
$margin30: 30px;
$margin40: 40px;
$marginLogo: 0px 15px 0px 180px;
$marginLogoIpad: 10px 0px 10px 20px;
$marginSection: 100px 50px;
$marginPrice: 0px 80px;
$marginNetworks: 230px 0px 0px 50px;
$marginNetworksIpad: 20px 0px 0px 5px;
$marginNetworksIphone: 70px 0px 0px 50px;
$marginSection3: 0px auto 200px auto;

// ------------------------ FRONT -----------------------
$Dosis: 'Dosis',
sans-serif;
$Poppins: 'Poppins',
sans-serif;
$Lobster: 'Lobster',
cursive;
$Lato: 'Lato',
sans-serif;

// ------------------------ FRONT SIZE -----------------------
$Size40: 40px;
$Size12: 12px;
$Size18: 18px;
$Size15: 15px;
$Size50: 50px;
$Size20: 20px;
$Size25: 25px;
$Size30: 30px;
$Size10: 10px;
$Size8: 8px;

//---------------FONT STYLE-----------

$bold: bold;
$menu: 500;
$titreInfo: 600;
$light: lighter;
$normal: normal;

//----------------------------COLOR----------
$white: white;
$grey: #42495b;
$greywhite: #f6f7fb;
$greytext:#999999;
$greylight: #7a839e;
$degrade: linear-gradient(to left, #6156f9, #1a129f);
$bleu: #1a129f;
$bleufonce: #1000ff;
$purple: #7e76f9;
$purplelight: rgba(126, 118, 249, 0.15);
$shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.16);

//--------------------INDICATIONS---------
$borderRadius: 25px;
$borderRadiusCercle: 50%;
$flex: flex;
$wrap: wrap;
$block: block;
$row: row;
$center: center;
$auto: auto;
$PositionRelative: relative;
$PositionAbsolu: absolute;
$Cercle: 70px;


//-----------------------------WIDTH-------
$width100: 100%;
$width10: 10%;
$width20: 20%;
$width30: 30px;
$width50: 50%;
$width40: 40%;
$width70: 70%;
$width80: 80%;
$width90: 90%;
